.header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #073042;
  padding: 0 70px;
}

.header__logo {
  margin: 18px 0;
}

.header__container {
  display: flex;
  max-height: 32px;
  align-items: center;
  gap: 30px;
  margin: 21px 0;
}

.header__link {
  text-decoration: none;
  color: #FFF;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  transition: opacity .3s ease-out;
}

.header__link:hover {
  opacity: .7;
}

.header__button {
  padding: 0;
  border: 0;
  min-width: 76px;
  min-height: 32px;
  border-radius: 3px;
  background: #3DDC84;
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.header__button:hover {
  opacity: .8;
}
